.Certs form {
  padding-bottom: 15px;
}

.Certs form textarea {
  height: 300px;
  font-size: 24px;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.small-loader {
  width: 4rem;
  grid-column: 1 / -1;
  justify-self: center;
}
