.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Verdana", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

.Home .certs h4 {
  font-family: "Verdana", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.Home .certs p {
  color: #666;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.small-loader {
  width: 4rem;
  grid-column: 1 / -1;
  justify-self: center;
}

.Home .lander div {
  padding-top: 20px;
}
.Home .lander div a:first-child {
  margin-right: 20px;
}
